<div class="caja d-flex justify-content-around">
  <div class="d-flex justify-content-center my-4 col-md-7">
    <div class="card">
      <!--<c-card-header>
        <h3 class="text-center">Jefaturas en hogares</h3>
      </c-card-header>-->
      <c-card-body>
        <c-chart class="chart" type="bar" [data]="chartBarData"></c-chart>
      </c-card-body>
    </div>
  </div>
  <div class="box col-md-5 my-4 text-center">
    <h5>Jefaturas de los hogares</h5>
    <p>
      Concepto de liderazgo o autoridad dentro de los hogares mexicanos. En muchos casos, 
      la jefatura se asigna a una persona específica dentro de la familia que tiene la 
      responsabilidad de tomar decisiones importantes y ejercer el liderazgo en asuntos 
      familiares y domésticos. 
    </p>
  </div>
</div>
<div class="caja d-flex justify-content-around">
  <div class="d-flex justify-content-center my-4 col-md-7">
    <div class="card ">
      <!--<c-card-header>
        <h3 class="text-center">Tamaño promedio de los Hogares</h3>
      </c-card-header>-->
      <c-card-body>
        <c-chart type="line" [data]="chartLineData"></c-chart>
      </c-card-body>
    </div>
  </div>
  <div class="box col-md-5 my-4 text-center">
    <h5>Tamaño promedio de los hogares</h5>
    <p>
      Se refiere al número promedio de personas que viven en un hogar en el país. Es una medida 
      demográfica que proporciona información sobre la estructura familiar y la convivencia en 
      las viviendas mexicanas. El tamaño promedio de los hogares puede variar a lo largo del 
      tiempo y entre diferentes regiones del país.
    </p>
  </div>
</div>
