<section class="part1">
  <div class="image-container">
    <img src="../../../assets/images/presentacion.jpg" alt="Imagen" />
  </div>
  <div class="image-container">
    <img src="../../../assets/images/titulo.png" alt="Imagen" />
  </div>
</section>

<section class="part1">
  <div class="content-container">
    <h4 class="text-center">
      Aquí encontrarás datos estadísticos y análisis
      sobre este importante tema.
    </h4>
    <p>
      Nuestro objetivo es proporcionar información actualizada para 
      comprender la situación del hogar y vivienda en México, y cómo estos 
      indicadores pueden influir en diversas áreas de la sociedad. Ya sea que 
      estés interesado/a en investigaciones académicas, políticas públicas o 
      simplemente quieras conocer más acerca de la realidad habitacional en  
      México, este sitio es para ti.
    </p>
  </div>
  <div class="image-container2">
    <img
      src="../../../assets/images/estadis.jpg"
      alt="Imagen 1"
      class="image1"
    />
    <div class="image2">
    <img
      src="../../../assets/images/inegi.webp"
      alt="Imagen 2"
      
    /></div>
    <div class="caja1"></div>
  </div>
</section>
<section class="part2 mb-3">
  <div class="centered-div">
    <div class="image">
      <div class="cuadro1">
        <h5>
          ​Descubre la realidad habitacional en México a través de nuestros
          datos  actualizados y confiables.
        </h5>
      </div>
      <div class="cuadro2"></div>
      <img src="../../../assets/images/mapa.jpg" alt="Imagen" />
    </div>
    <div class="valores">
      <div class="grid-item">
        <h5>​35.219.141</h5>
        <p>VIVIENDAS</p>
      </div>
      <div class="grid-item">
        <h5>126.014.024</h5>
        <p>POBLACIÓN</p>
      </div>
      <div class="grid-item">
        <h5>125.514.839</h5>
        <p>POBLACIÓN EN HOGARES</p>
      </div>
    </div>
  </div>
</section>
<section class="part3">
  <div class="caja3">
    <h3>​Comprende los desafíos y promueve soluciones efectivas.</h3>
  </div>
  <img src="../../../assets/images/desafio.jpg" alt="" />
</section>

<section class="part4">
  <div class="cir1"></div>
  <div class="cir2"></div>
  <div class="caja5"></div>
  <div class="contenido d-flex position-relative justify-content-end">
    <div class="left position-absolute">
      <div class="position-relative">
        <div class="caja4"></div>
        <h5 class="py-4">
          Conoce cómo los indicadores de hogar y vivienda influyen en diversas 
          áreas de la sociedad y cómo podemos abordarlos.
        </h5>
        <img
          class="position-absolute"
          src="../../../assets/images/sociedad.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="right mx-5">
      <h3>
        <span>¡</span>Te invitamos a explorar nuestro sitio y descubrir la
        riqueza de datos y  análisis que ofrecemos<span>!</span>
      </h3>
      <img src="../../../assets/images/conocer.png" alt="" />
    </div>
  </div>
</section>
<section class="part5 position-relative">
  <div class="despe d-flex position-absolute px-5">
    <h4>
      Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto
      con nosotros. ¡Gracias por visitarnos y esperamos  que encuentres este
      sitio informativo y enriquecedor!
    </h4>
  </div>
</section>
