<div class="caja d-flex justify-content-around">
  <div class="col-md-6 my-4  ">
    <c-card class="pie">
      <c-card-header class="text-center">
        <h3>Tipos</h3>
      </c-card-header>
      <c-card-body class="pie">
        <c-chart type="pie" [data]="chartPieData"></c-chart>
      </c-card-body>
    </c-card>
  </div>
  <div class="box col-md-4 my-4 text-center">
    <h5>Tipos de Viviendas</h5>
    <p>Propias: Son aquellas viviendas en las que los residentes son los propietarios legales. 
      Esto significa que han adquirido la propiedad mediante compra, herencia u otros medios legales.
      Alquiladas: Son viviendas en las que los residentes no son propietarios, sino que arriendan la 
      vivienda a cambio de un pago periódico, generalmente mensual, al propietario o arrendador.</p>
  </div>
</div>
