<div class="caja d-flex justify-content-around">
  <div class="justify-content-center my-4 col-md-7">
    <div class="card">
      <!-- <c-card-header>
        <h3 class="text-center">Tipo</h3>
      </c-card-header>-->
      <c-card-body>
        <c-chart class="chart" type="bar" [data]="chartBarData"></c-chart>
      </c-card-body>
    </div>
  </div>
  <div class="box col-md-5 my-4 text-center">
    <h5>Tipos</h5>
    <p>
      Monoparentales: Estos hogares están compuestos por un solo padre o madre y sus hijos. Puede ser 
      el resultado de un divorcio, separación, viudez o elección personal.
      Biparentales: Son aquellos en los que conviven dos padres biológicos o adoptivos junto con sus 
      hijos. Este tipo de hogar es considerado tradicional 
      Compuestos: Los hogares compuestos son aquellos en los que conviven varias generaciones de una 
      familia extendida en un mismo hogar. Esto puede incluir a abuelos, tíos, primos u otros 
      parientes cercanos, además de los padres e hijos. 
    </p>
  </div>
</div>

<div class="caja d-flex justify-content-around">
  <div class=" justify-content-center my-4 col-md-7">
    <div class="card ">
      <!--<c-card-header>
        <h3 class="text-center">Formación</h3>
      </c-card-header>-->
      <c-card-body>
        <c-chart type="bar" [data]="chartBarData1"></c-chart>
      </c-card-body>
    </div>
  </div>
  <div class="box col-md-5 my-4 text-center">
    <h5>Formación</h5>
    <p>
      Ampliados: Los hogares ampliados son aquellos en los que viven dos o más núcleos 
      familiares relacionados entre sí.
      Nucleares extendidos: Estos hogares son una extensión de los hogares biparentales, 
      ya que incluyen a los padres y a otros parientes cercanos, como hermanos, tíos o primos. 
      A diferencia de los hogares compuestos, los hogares nucleares extendidos tienden a ser más 
      pequeños y no necesariamente involucran a generaciones anteriores o extensas.
    </p>
  </div>
</div>
